
 <h2>Writing basic joins</h2>
 <p class="post-date">2019-11-25</p><br>
 <p class="post-date">Tags: SQL, basics</p>
 <p>A JOIN associates data in one table with data from another table. To do this, both tables need to have a common column&#8212;usually a unique ID, or maybe
      a combination of an ID and a date.</p><br>
 <h3>Contents</h3>
  <ul>
        <li><a href="/basicjoins#basic-concept">The basic syntax</a></li>
        <li><a href="/basicjoins#multiple-conditions">The basic syntax</a></li>
        <li><a href="/basicjoins#aliases">Table abbreviations (aka table aliases)</a></li>
  </ul><br><br>
<a class="button" href="/basicjoins">Read full post</a>