 <h2>Simple 1-axis matplotlib scatter plots</h2>
 <p class="post-date">2019-11-30</p><br>
 <p class="post-date">Tags: Python, data vis, matplotlib</p>

<p>Scatter plots are useful for seeing if there's a relationship between two variables. The idea is, you graph one against another,
and you can see if an increase in one is mirrored by an increase in another, if one decreases when the other increases, or if
there's no apparent relationship</p>
  <h2>Contents</h2>
     <ul>
        <li><a href="matplotlibs-catter#getting-started"></a>Getting setup</li>
        <li><a href="matplotlib-scatter#basic-scatter"></a>The most basic possible scatter plot</li>
        <li><a href="matplotlib-scatter#scatter-from-csv"></a></li>
        <ul>
            <li><a href="matplotlib-scatter#loading-variables">Loading data into variables</a></li>
            <li><a href="matplotlib-scatter#fig-and-ax"></a>Plotting: figures and charts </li>
        </ul>
    </ul>
 <a class="button" href="/matplotlib-scatter">Read full post</a>