

  <h2>Useful tips for importing CSVs with pandas</h2>
    <p>If the world were simple, all you would ever need to read data from a csv are the following lines of code:</p>
    <a name="basic-concept"><div class="codeblock"></a>
      <pre>
import pandas as pd

df = pd.read_csv('path_to/your/file.csv')
      </pre>
  </div>

<h2>Contents</h2>
    <ul>
        <li><a href="pdreadcsv#basic-concept">The basic syntax</a></li>
        <li><a href="pdreadcsv#missing-column-names">When your CSV is missing column names</a></li>
        <li><a href="pdreadcsv#only-some-column">Only import some columns</a></li>
        <li><a href="pdreadcsv#skip-rows">Only import some rows</a></li>
    </ul>
<a class="button" href="/pdreadcsv">Read full post</a>