{% extends 'base.html' %}

{% block content %}
<p>This is a blog about data work for people who don't have data backgrounds. I'm one such person myself. I have a degree in
    English. In fact, I went to graduate school, so I have more than one degree in English. For a while there, I hoped for a career as a
    faculty member in an English Department. One thing I did not consider much was math. I more or less stopped doing math in 11th grade.</p><br>

<p>But about a year ago at work, I found myself in a new role on an analytics team. (There had been <em>a lot</em> of turnover.) I was pretty
    nervous about this role&#8212;almost as nervous as I'd been before the first time I taught a writing class, and for similar reasons: Would
    everyone know that I had no idea what I was doing? Would I screw everything up?</p><br>

<p>The main difference, it turned out, was that a lot of my teaching nerves were misplaced. I'd been writing for years, and I felt grounded in the
    subject matter. I did not have a grounding analytics work. I didn't know the jargon, the tools, the techniques, the ecosystem, the best practices,
    the mediocre-est practices. In both cases, I screwed a lot of things up, and some people noticed, and it wasn't that big a deal. But that first
    bit about trying to figure out what I was doing&#8212;has been very challenging. </p>

<p>Here's why I think that is: The barrier to literacy within data work is high. This is extra true if you didn't go to school for a subject
    in which working with data was part of your studies. The internet is bursting with help, which is nice. Unfortunately, much of that
    help requires a lot of literacy to understand in the first place. A mentor is nice, too, but nobody's guaranteed access to one of those, and
    if you didn't go to school for this stuff, you are unlikely to run in same circles as prospective mentors. You may well feel, as you watch one
    YouTube video after another, that you are at best staggering forward, and at worst, it feels a little like you're an octopus falling down a
    flight of stairs.</p>

<p>That said, if you have a background in the humanities, you might be better off than you think. You might already be cued to think about the
    context in which data is gathered and interpreted, or why a particular answer might mean something, or what questions might be most relevant to
    ask.
</p>

{% endblock %}