<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Data for Humanities People</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header class="main-head">
       <h1 class = "nav-title">Data stuff for humanities folks</h1>
    </header>

    <div class="main-content">

        {% block content %} {% endblock %}
        </div>


</div>

</body>

<!--
<h1>I watched the storm, so beautiful yet terrific.</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide.
        We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p></article>



 <footer class="main-footer">The footer</footer>
</div>
-->
</html>

