<!DOCTYPE html>
<html lang="en">
<head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Data Work for Humanities People</title>
      {% endif %}
    </head>
<body>
        <div><a href="/index">Home</a></div>
        <div><a href="/testpage">Test page</a></div>
        <div><a href="/testloop">Test loop</a></div>
        <div><a href="/conditionaleg">Conditional test</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

<html>


</html>