{% extends base.html %}
{% block content %}

<h1>Reading data from a CSV </h1>

  <h2>Contents</h2>

  <h2>Intro</h2>
    <p>In a just world, all you need to read data from a csv are the following
    lines of code:</p>
    <div class="codeblock">
      <pre>
        import pandas as pd

        df = pd.read_csv('path_to/your/file.csv')
      </pre>
    </div>
    <p>The first line imports the Pandas library. The second line feeds a .csv file
      to the pandas <code>read_csv</code> function and assigns the result to a
      variable, <code>df</code> (for "dataframe").</p> <br>
    <p>Unfortunately, the world is not always so kind. Here are some of the things
      that can go wrong when you import a data set&#8212;and how to fix them.</p><br>
    <p><b>Note:</b>It's often useful to run <code>df.head()</code> to get a preview of
      the data.</p>

  <h2>Missing column names</h2>
    <p>Sometimes, the .csv or .txt file you import is missing column names. For example,
    here's some web analytics data about traffic by browser for a list of pages:</p>
    <img="">
    <p>I can pass in columns using <code>names=('column_one','column2')</code>.
    That looks like this:</p>
    <div class="codeblock">
      <pre>
        import pandas as pd

        df = pd.read_csv('adamc/Desktop/traffic_by_browser',names=('page_ID','browser','pageviews'))
        df.head()
      </pre>
    </div>
    <p>Results:</p>
    <img ="">
    <h2>Only import some columns</h2>
      <p>You may only want to import a couple columns from a file, because
        you're only interested in a subset of the data, you want to separate a file's
      data into multiple variables, etc. You can do this with the <code>usecols</code>:</p>
    <div class="codeblock">
      <pre>
        import pandas as pd

        important_columns = ['','','','']
        df = pd.read_csv('adamc/Desktop/traffic_by_browser',usecols=important_columns)
        df.head()
      </pre>
    </div>
    <h2>Pick a different header row</h2>
      <p>Some .csv or .txt files may have multiple headers. For example,
        lets say my above example had an additional titular row, i.e.:</p>
        <img ="">
      <p>I can see that my true headers are actually in the second row. I avoid
        this with the <code>header</code> argument:</p>
        <div class="codeblock">
          <pre>
            import pandas as pd

            df = pd.read_csv('adamc/Desktop/traffic_by_browser',header=1)
            df.head()
          </pre>
        </div>
        <p>Now I get:</p>
        <img src="" (same as above)>
      <h2>Target only the rows you want to read</h2>
        <p>You may encounter files where multiple datasets have been stacked on
          top of one another&#8212;or you may just want to read a subset of rows.
          You can skip from the top with <code>skiprows</code> or from the bottom
          with <code>skipfooter</code>. For example, take this file:</p>
        <img src="">
        <p>Let's say we're just interested in the middle dataset:</p>
        <div class="codeblock">
          <pre>
            import pandas as pd

            df = pd.read_csv('adamc/Desktop/traffic_by_browser',skiprows=1, skipfooter=1)
            df.head()
          </pre>
        </div>
        <p>Results:</p>
        <img src="">
        <p>You can also simply say how many rows you want to import with <code>
          nrows</code>:
        <div class="codeblock">
          <pre>
            import pandas as pd

            df = pd.read_csv('adamc/Desktop/traffic_by_browser',nrows=4)
            df.head()
          </pre>
        </div>
    <h2>Tab or </h2>





  <p> The "unnamed columns" are because the first row in the .csv has only one
    item&#8212;the title&#8212;and therefore only one column. To keep things neat
    and tidy, pandas adds two more "unnamed" columns so that every
{% endblock %}
